ansi2html
anyio
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
Babel
backcall
backports.functools-lru-cache
beautifulsoup4
bleach
Brotli
brotlipy
certifi
cffi
charset-normalizer
click
colorama
cryptography
cycler
dash
dash-core-components
dash-html-components
dash-table
debugpy
decorator
defusedxml
entrypoints
executing
Flask
Flask-Compress
flit_core
fonttools
idna
imageio
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
joblib
json5
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-dash
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
kiwisolver
lime
MarkupSafe
matplotlib
matplotlib-inline
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook-shim
numpy
packaging
pandas
pandocfilters
parso
patsy
pickleshare
Pillow
plotly
prometheus-client
prompt-toolkit
psutil
pure-eval
pycparser
Pygments
pyOpenSSL
pyparsing
pyrsistent
PySocks
python-dateutil
pytz
PyWavelets
pywin32
pywinpty
pyzmq
qtconsole
QtPy
requests
retrying
scikit-image
scikit-learn
scipy
seaborn
Send2Trash
six
sniffio
soupsieve
stack-data
statsmodels
tenacity
terminado
testpath
threadpoolctl
tifffile
tornado
tqdm
traitlets
urllib3
wcwidth
webencodings
websocket-client
Werkzeug
widgetsnbextension
win-inet-pton
wincertstore
zipp